@import "blink.css";

:root {
  font-family: "Comic Sans MS", sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color: white;
  background: url("https://i.imgur.com/SHZe50s.gif") fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

table {
  margin: 0 auto;
  border: 1px solid blue;
  background: white;
  color: blue;
}

td {
  border: 1px solid blue;
}

.rainbow {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}

.pokeType {
  padding: 0px 8px;
  color: #fff;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: bold;
}

.PokedexContainer {
  display: flex;
  flex-direction: row;
}

.PokemonList {
  min-width: 500px;
}

.PokemonTeam {
  min-width: 300px;
}

.PokedexEntry table {
  min-width: 500px;
}

.normal {
  background-color: #a8a878;
}
.grass {
  background-color: #78c850;
}
.ground {
  background-color: #e0c068;
}
.fighting {
  background-color: #c03028;
}
.rock {
  background-color: #b8a038;
}
.steel {
  background-color: #b8b8d0;
}
.fire {
  background-color: #f08030;
}
.electric {
  background-color: #f8d030;
}
.flying {
  background-color: #a890f0;
}
.psychic {
  background-color: #f85888;
}
.bug {
  background-color: #a8b820;
}
.dragon {
  background-color: #7038f8;
}
.water {
  background-color: #6890f0;
}
.ice {
  background-color: #98d8d8;
}
.poison {
  background-color: #a040a0;
}
.dark {
  background-color: #705848;
}
.ghost {
  background-color: #705898;
}
.fairy {
  background-color: #ffaec9;
}
